@import "./partials/setup";
@import "./partials/config";
@import "./partials/header";

body {
	color: #fff;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	font-size: 2rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	overflow-x: hidden;
}

.background-video-container {
	display: flex;
	justify-content: center;
}

#background-video {
	position: fixed;
	top: 0;
	margin: 0 auto;
	max-width: 430px;
	width: 100vw;
	height: 100vh;
	object-fit: cover;
	z-index: -1;
}

.lloyd-portrait-container,
.menu-container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin-top: 10rem;
	background-color: #000000ab;

	h1 {
		text-align: center;
		color: #fff;
		margin: 2rem;
		span {
			display: block;
			color: $primary-color;
		}
	}

	.lloyd-portrait {
		max-width: 320px;
	}

	article {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		color: #fff;
		max-width: 300px;
		padding: 0 40px;
	}
}

.menu-container {
	width: 100%;
	border-radius: 1rem;
}

.menu-item-container {
	margin-bottom: 1rem;
	width: 100%;
	li {
		list-style: none;
	}
}

.name-and-price {
	display: flex;
	justify-content: space-between;
	margin: 0 1rem;
	p {
		margin: 0;
	}
}
.description {
	margin: 0 1.5rem;
	font-size: 1.5rem;
}

.hidden {
	opacity: 0;
}

.fade-in {
	animation: fadeIn 1s;
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@import "partials/mediaQueries";
