@media (min-width: 446px) {
	.lloyd-portrait-container,
	.menu-container {
		width: 420px;
		.lloyd-portrait {
			max-width: 420px;
		}

		article {
			max-width: 400px;
			padding: 0 20px;
		}
	}

	footer {
		color: $secondary-color;
	}
}

@media (min-width: 768px) {
	.lloyd-portrait-container,
	.menu-container {
		width: 500px;
		.lloyd-portrait {
			max-width: 500px;
		}

		article {
			max-width: 460px;
			padding: 0 20px;
		}
	}

	footer {
		color: $secondary-color;
	}
}
